<!DOCTYPE html>
<html>
<head>
  <title>Twatter</title>
  <link href='https://fonts.googleapis.com/css?family=Days+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="top-menu">
  <% if @current_user %>
    <div id='profile-pic'>
    <img src="<%= @current_user.profile_pic %>" alt=""></>
  </div>
  <% end %>

  <img src="http://1.bp.blogspot.com/_oRrOZC9jH_c/S8BKaQWpGuI/AAAAAAAAEEk/xxji8p6zBTo/s1600/twatter.jpg" alt="" id="logo"></>
  <% if @current_user %>
    <div id="user-info">
      <p>Welcome, <%= @current_user.name %>!</p>
      <a href="/logout"><button>Logout</button></a>
    <% end %>
  </div>

</div>

<%= yield %>

</body>
</html>
